@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

label{
    display: block;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.card{
    background-color: whitesmoke;
    
    margin: 20px auto;
    width: 250px;
    box-shadow: -2px 3px 6px 0px black;
    height: 250px;
    align-content: center;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    font-size: 1rem;
    background-color: #85FFBD;

    background-size: cover;
    
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
        
    background-repeat: no-repeat;
}