<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Produtos</title>
    <style>
        label{
            display: block;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {% for produto in produtos %}
    <div>
        <br>
        <label for="">Nome do produto:</label>
        <span>
            {{produto.nome}}
        </span>
        <label for="">Categoria:</label>
        <span>
            {{produto.get_categoria_display}}
        </span>
        <label for="">Localização no estoque:</label>
        <span>
            {{produto.get_localizacao_display}}
        </span>
        <label for="">Quantidade em estoque:</label>
        <span>
            {{produto.quantidade}}
        </span>
        <label for="">Preço:</label>
        <span>
            R$ {{produto.preco}}
        </span>
        <a href="{% url 'editar_produto' produto.id %}">Editar produto</a>
    </div>
    {% endfor %}
    <a href="{%url 'criar_produto' %}">Novo Produto</a>
</body>
</html>